<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.kanb.vbgroupdtl.mapper.VbgroupdtlMapper">
    <resultMap id="BaseResultMap" type="yj.kanb.vbgroupdtl.dto.Vbgroupdtl">
        <result column="bukrs" property="bukrs" jdbcType="VARCHAR"/>
        <result column="werks" property="werks" jdbcType="VARCHAR"/>
        <result column="vbgroupId" property="vbgroupId" jdbcType="VARCHAR"/>
        <result column="groupId" property="groupId" jdbcType="VARCHAR"/>
        <result column="groupType" property="groupType" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertGroupDtl" parameterType="yj.kanb.vbgroupdtl.dto.Vbgroupdtl">
        insert into vb_group_dtl(groupId,bukrs,werks,groupType,vbgroupId,created_by,creation_date)
        values(#{groupId},#{bukrs},#{werks},#{groupType},#{vbgroupId},#{createdBy},#{creationDate})
    </insert>

    <delete id="deleteGroupDtl" parameterType="yj.kanb.vbgroupdtl.dto.Vbgroupdtl">
        delete from vb_group_dtl
        <where>
            vbgroupId = #{vbgroupId}
            AND bukrs = #{bukrs}
            AND werks = #{werks}
            AND groupId = #{groupId}
        </where>
    </delete>
</mapper>