<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.core.plpo.mapper.PlpoMapper">
    <resultMap id="BaseResultMap" type="yj.core.plpo.dto.Plpo">
        <result column="MATNR" property="matnr" jdbcType="VARCHAR" />
        <result column="WERKS" property="werks" jdbcType="VARCHAR" />
        <result column="PLNTY" property="plnty" jdbcType="VARCHAR" />
        <result column="PLNNR" property="plnnr" jdbcType="VARCHAR" />
        <result column="PLNAL" property="plnal" jdbcType="VARCHAR" />
        <result column="ZKRIZ" property="zkriz" jdbcType="VARCHAR" />
        <result column="ZAEHL" property="zaehl" jdbcType="VARCHAR" />
        <result column="DATUV" property="datuv" jdbcType="DATE" />
        <result column="VALID_TO" property="validTo" jdbcType="DATE" />
        <result column="VERWE" property="verwe" jdbcType="VARCHAR" />
        <result column="STATU" property="statu" jdbcType="VARCHAR" />
        <result column="LOEKZ" property="loekz" jdbcType="VARCHAR" />
        <result column="PLNKN" property="plnkn" jdbcType="VARCHAR" />
        <result column="VORNR" property="vornr" jdbcType="VARCHAR" />
        <result column="STEUS" property="steus" jdbcType="VARCHAR" />
        <result column="ARBID" property="arbid" jdbcType="VARCHAR" />
        <result column="ARBPL" property="arbpl" jdbcType="VARCHAR" />
        <result column="KTSCH" property="ktsch" jdbcType="VARCHAR" />
        <result column="LTXA1" property="ltxa1" jdbcType="VARCHAR" />
        <result column="VGE01" property="vge01" jdbcType="VARCHAR" />
        <result column="VGW01" property="vgw01" jdbcType="DECIMAL" />
        <result column="ATTR1" property="attr1" jdbcType="VARCHAR" />
        <result column="ATTR2" property="attr2" jdbcType="VARCHAR" />
        <result column="ATTR3" property="attr3" jdbcType="VARCHAR" />
        <result column="ATTR4" property="attr4" jdbcType="VARCHAR" />
        <result column="ATTR5" property="attr5" jdbcType="VARCHAR" />
        <result column="ATTR6" property="attr6" jdbcType="VARCHAR" />
        <result column="ATTR7" property="attr7" jdbcType="VARCHAR" />
    </resultMap>


</mapper>