<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.core.qppdrcd.mapper.QppdrcdMapper">
    <resultMap id="BaseResultMap" type="yj.core.qppdrcd.dto.Qppdrcd">
        <result column="RCDID" property="rcdid" jdbcType="VARCHAR" />
        <result column="RCDTYPE" property="rcdtype" jdbcType="VARCHAR" />
        <result column="WERKS" property="werks" jdbcType="VARCHAR" />
        <result column="FEVOR" property="fevor" jdbcType="VARCHAR" />
        <result column="FEVORTXT" property="fevortxt" jdbcType="VARCHAR" />
        <result column="ZXHBAR" property="zxhbar" jdbcType="VARCHAR" />
        <result column="LINE_ID" property="lineId" jdbcType="VARCHAR" />
        <result column="LINE_NAME" property="lineName" jdbcType="VARCHAR" />
        <result column="MATNR" property="matnr" jdbcType="VARCHAR" />
        <result column="MAKTX" property="maktx" jdbcType="VARCHAR" />
        <result column="NUM" property="num" jdbcType="DECIMAL" />
        <result column="PDNUM" property="pdnum" jdbcType="DECIMAL" />
        <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
        <result column="RCDDAT" property="rcddat" jdbcType="DATE" />
        <result column="ZBEIZ" property="zbeiz" jdbcType="VARCHAR" />
        <result column="RCDDAT" property="rcddat" jdbcType="DATE" />
        <result column="CREATION_DATE" property="creationDate" jdbcType="VARCHAR" />
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
    </resultMap>

    <insert id="insertPdRow" parameterType="yj.core.qppdrcd.dto.Qppdrcd">
        insert INTO wip_qppdrcd (RCDID,RCDTYPE,WERKS,FEVOR,FEVORTXT,ZXHBAR,LINE_ID,LINE_NAME,MATNR,MAKTX,NUM,PDNUM,OPERATOR,RCDDAT,ZBEIZ,CREATED_BY,CREATION_DATE)
        VALUES (#{rcdid},#{rcdtype},#{werks},#{fevor},#{fevortxt},#{zxhbar},#{lineId},#{lineName},#{matnr},#{maktx},#{num},#{pdnum},#{operator},#{rcddat},#{zbeiz},#{createdBy},#{creationDate})
    </insert>

    <select id="queryAll" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from wip_qppdrcd
        <where>
            1 = 1
            <if test="werks != null">
                and WERKS = #{werks}
            </if>
            <if test="fevor != null">
                and FEVOR = #{fevor}
            </if>
            <if test="pddatbefore != null">
                and RCDDAT >= #{pddatbefore}
            </if>
            <if test="pddatafter != null">
                and #{pddatafter} >= RCDDAT
            </if>
            order by CREATED_BY ASC
        </where>
    </select>
</mapper>