<!--
    机加生产线维护 918100064
-->
<#include "../include/header.html" >
<body>
<div class="col-xs-12">
    <div id="tabstrip">
        <ul>
            <li class="k-state-active">
                机加产线维护
            </li>
        </ul>
        <div id="div1">
            <div id="content-container">
                <div id="page-content">
                    <div class="panel" style="padding: 0px;border:none;box-shadow: none;">
                        <form class="form-horizontal" id="myForm">
                            <div class="panel-body">
                                <div id="condition">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">工厂</label>
                                                <div class="col-sm-8">
                                                    <input type="text" style="width: 100%" data-bind="value:model.werks" class="k-textbox" readonly="readonly">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">产线ID</label>
                                                <div class="col-sm-8">
                                                    <input type="text" style="width: 100%"
                                                           data-bind="value:model.lineId" class="k-textbox">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label">车间</label>
                                                <div class="col-sm-8">
                                                    <input id="unit-code" class="k-textbox" data-bind="value:model.deptId" style="width: 100%">
                                                    <script>
                                                        $("#unit-code").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_UNIT_NEW2")}, {
                                                            query: function (e) {
                                                                e.param['enabledFlag'] = 'Y';
                                                            }
                                                        }))
                                                    </script>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
                        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:createFunction"><@spring.message "hap.new"/></span>
                        <span class="btn btn-success k-grid-save-changes" data-bind="click:saveFunction" style="float:left;margin-right:5px;"><@spring.message "hap.save"/></span>
                        <span onclick="deleteData()" class="btn btn-danger" style="float:left;margin-right:5px;"><@spring.message "hap.delete"/></span>
                        <span id="selectPoints" class="btn btn-success" style="float:left;">工序配置</span>
                    </div>
                    <div class="pull-right" id="query-form" style="padding-bottom:10px;">
                        <span class="btn btn-primary" style="float:left;width:70px" data-bind="click:queryResource" type="submit"><@spring.message "hap.query"/></span>
                        <div style="clear:both"></div>
                    </div>
                    <div style="clear:both">
                        <div id="Grid"></div>
                    </div>
                </div>
            </div>
            <!--grid 的控制程序段 必须放在 页面显示之前-->
            <script>
                var tabCounter = 0;
                var viewModel = kendo.observable({
                    model: {
                        werks:"1001"
                    },
                    werks:"1001",
                    createFunction: function () {
                        $('#Grid').data('kendoGrid').addRow();
                    },
                    saveFunction: function () {
                        $('#Grid').data('kendoGrid').saveChanges();
                    },
                    queryResource: function (e) {
                        $('#Grid').data('kendoGrid').dataSource.page(1);
                    }
                });
                function deleteData() {
                    var grid = $("#Grid").data("kendoGrid"),
                        selections = grid.selectedDataItems();
                    if(selections.length >= 1){
                        Hap.deleteGridSelection({
                            grid: $('#Grid')
                        });
                    }else{
                        kendo.ui.showInfoDialog({
                            message: '请至少选择一行数据'
                        })
                    }
                };
                kendo.bind($('#page-content'), viewModel);
                $(document).ready(function () {
                    var BaseUrl = _basePath;
                    dataSource = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: BaseUrl + "/wip/lines/queryLines",
                                type: "POST",
                                dataType: "json"
                            },
                            update: {
                                url: BaseUrl + "/wip/lines/submitLines",
                                type: "POST",
                                contentType: "application/json"
                            },
                            destroy: {
                                url: BaseUrl + "/wip/lines/remove",
                                type: "POST",
                                contentType: "application/json"
                            },
                            create: {

                                url: BaseUrl + "/wip/lines/submitLines",
                                type: "POST",
                                contentType: "application/json"
                            },
                            parameterMap: function (options, type) {
                                if (type !== "read" && options.models) {
                                    var datas = Hap.prepareSubmitParameter(options, type);
                                    return kendo.stringify(datas);
                                } else if (type === "read") {
                                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                                }
                            }
                        },
                        batch: true,
                        serverPaging: true,
                        pageSize: 10,
                        schema: {
                            data: 'rows',
                            total: 'total',
                            model: {
                                id: "lineId",
                                fields: {
                                    werks: {type: "string",editable: false,defaultValue: "1001"},
                                    lineCode: {type: "string",editable: true},
                                    deptId: {type: "string",editable: true},
                                    lineId:{type: "long"},
                                    plineId:{type: "long",editable: true},
                                    pointNum:{type: "long",editable: true},
                                    execoffFlag:{defaultValue: '0', type: 'boolean', checkedValue: '1', uncheckedValue: '0'},
                                    pkgBindFlag:{defaultValue: '0', type: 'boolean', checkedValue: '1', uncheckedValue: '0'},
                                    startDate: {type: "date",editable: true},
                                    endDate: {type: "date",editable: true,defaultValue:null},
                                    headerphone:{type:"number",editable:true},
                                    oeerate:{type:"number",editable:true}
                                }
                            }
                        }
                    });
                    $("#Grid").kendoGrid({
                        dataSource:dataSource,
                        height:'100%',
                        resizable:true,
                        scrollable:true,
                        navigatable:false,
                        sortable: true,
                        editable: true,
                        selectable:'multiple,rowbox',
                        pageable:{
                            pageSizes:[5,10,20,50,"all"],
                            refresh:true,
                            buttonCount:5
                        },
                        columns:[
                            {
                                field:"werks",
                                title:"工厂",
                                width:80,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"deptId",
                                title:"车间",
                                width:80,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                },
                                template: function (dataItem) {
                                    return dataItem['deptId'] || ''
                                },
                                editor : function (container, options) {
                                    $('<input name="'+options.field+'"/>').appendTo(container).kendoLov($.extend(<@lov "LOV_UNIT_NEW2"/>,
                                        {
                                            textField: 'name',
                                            model: options.model
                                        }));
                                }
                            },
                            {
                                field:"name",
                                title:"车间名称",
                                width:140,
                                readonly: true,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"lineId",
                                title:"产线ID",
                                width:120,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"lineCode",
                                title:"产线编码",
                                width:120,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"descriptions",
                                title:"产线描述",
                                width:180,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"arbpl",
                                title:"工作中心",
                                width:100,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                },
                                template: function (dataItem) {
                                    return dataItem['arbpl'] || ''
                                },
                                editor : function (container, options) {
                                    $('<input name="'+options.field+'"/>').appendTo(container).kendoLov($.extend(<@lov "LOV_AFVC"/>,
                                        {
                                            textField: 'ktext',
                                            model: options.model
                                        }));
                                }
                            },
                            {
                                field:"ktext",
                                title:"工作中心名称",
                                width:240,
                                editable:false,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"plineId",
                                title:"父产线编码",
                                width:120,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                },
                                template: function (dataItem) {
                                    return dataItem['plineId'] || ''
                                },
                                editor : function (container, options) {
                                    $('<input name="'+options.field+'"/>').appendTo(container).kendoLov($.extend(<@lov "LOV_LINE"/>,
                                        {
                                            textField: 'pdescriptions',
                                            model: options.model
                                        }));
                                }
                            },
                            {
                                field:"pdescriptions",
                                title:"父产线描述",
                                width:200,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"cgroup",
                                title:"终检组",
                                width:80,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"enableFlag",
                                title:"启动状态",
                                width:80,
                                editor: function (container,options) {
                                    $('<input name="'+options.field+'"/>').appendTo(container).kendoComboBox({
                                        dataTextField: "meaning",
                                        dataValueField: "value",
                                        valuePrimitive: true,
                                        dataSource:[
                                            { meaning: "不启用", value: 0},
                                            { meaning: "启用", value: 1}
                                        ],
                                    })
                                },
                                template:function (e) {
                                    if(e.enableFlag == "1"){
                                        return "1-启用";
                                    }else if(e.enableFlag == "0"){
                                        return "0-不启用";
                                    }else{
                                        return "";
                                    }
                                },
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"execoffFlag",
                                title:"是否需要下线确定",
                                width:120,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"pkgBindFlag",
                                title:"是否包装绑定工件二维码",
                                width:160,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"onlinetype",
                                title:"上线方式",
                                width:80,
                                editor: function (container,options) {
                                    $('<input name="'+options.field+'"/>').appendTo(container).kendoComboBox({
                                        dataTextField: "meaning",
                                        dataValueField: "value",
                                        valuePrimitive: true,
                                        dataSource:[
                                            { meaning: "批次", value: 0},
                                            { meaning: "二维码", value: 1}
                                        ],
                                    })
                                },
                                template:function (e) {
                                    if(e.onlinetype == "1"){
                                        return "二维码";
                                    }else if(e.onlinetype == "0"){
                                        return "批次";
                                    }else{
                                        return "";
                                    }
                                },
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"pkgtype",
                                title:"装箱方式",
                                width:80,
                                editor: function (container,options) {
                                    $('<input name="'+options.field+'"/>').appendTo(container).kendoComboBox({
                                        dataTextField: "meaning",
                                        dataValueField: "value",
                                        valuePrimitive: true,
                                        dataSource:[
                                            { meaning: "批次", value: 0},
                                            { meaning: "二维码", value: 1}
                                        ],
                                    })
                                },
                                template:function (e) {
                                    if(e.pkgtype == "1"){
                                        return "二维码";
                                    }else if(e.pkgtype == "0"){
                                        return "批次";
                                    }else{
                                        return "";
                                    }
                                },
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"taktTime",
                                title:"生产节拍MIN",
                                width:80,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"oeerate",
                                title:"设计OEE",
                                width:80,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"segOprName",
                                title:"队列工序段",
                                width:120,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"pointNum",
                                title:"工序数量",
                                width:80,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"startDate",
                                title:"生效日期",
                                width:100,
                                format: "{0: yyyy-MM-dd}",
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"endDate",
                                title:"失效日期",
                                width:100,
                                format: "{0: yyyy-MM-dd}",
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"lineheader",
                                title:"产线负责人",
                                width:100,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"headerphone",
                                title:"负责人电话",
                                width:150,
                                format: "{0:n0}",
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                            {
                                field:"unitCode",
                                title:"部门",
                                width:80,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                },
                                template: function (dataItem) {
                                    return dataItem['unitCode'] || ''
                                },
                                editor : function (container, options) {
                                    $('<input name="'+options.field+'"/>').appendTo(container).kendoLov($.extend(<@lov "LOV_UNIT_NEW3"/>,
                                        {
                                            query: function(e) {
                                                //在query事件中做级联查询，设置参数名为"roleName",值为"管理员",查询出的数据将会是所有角色名为“管理员”的数据
                                                e.param['unitCode'] = options.model.deptId;
                                            },
                                            textField: 'uname',
                                            model: options.model
                                        }));
                                }
                            },
                            {
                                field:"uname",
                                title:"部门名称",
                                width:120,
                                headerAttributes: {
                                    style: "text-align: center;"
                                },
                                attributes: {
                                    style: "text-align: center;"
                                }
                            },
                        ],
                    });
                    function deleteData() {
                        var grid = $("#Grid").data("kendoGrid"),
                            selections = grid.selectedDataItems();
                        if(selections.length >= 1){
                            Hap.deleteGridSelection({
                                grid: $('#Grid')
                            });
                        }else{
                            kendo.ui.showInfoDialog({
                                message: '请至少选择一行数据'
                            })
                        }
                    };
                    Hap.autoResizeGrid("#Grid");

                    $('#selectPoints').on('click', function () {
                        var grid = $("#Grid").data("kendoGrid"),
                            selections = grid.selectedDataItems();
                        if (selections.length ==1) {
                            var tab = $('#tabstrip').data('kendoTabStrip');
                            var index = tab.tabGroup["0"].children.length;
                            if (index == 2) {
                                kendo.ui.showErrorDialog({
                                    title: '错误',
                                    message: "请先保存机加产线工序配置维护表！"
                                });
                            } else {
                                tab.append({
                                    tabid: 'Item-' + (++tabCounter),
                                    text: '机加产线工序配置维护' + ' <span class="k-icon k-i-close"></span>',
                                    encoded: false,
                                    content: '<iframe src="managePoints.html" width="100%" height="700" frameborder="0" allowtransparency="yes"></iframe>'
                                });
                            }
                            tab.select(tab.tabGroup.children().length - 1);
                        } else {
                            kendo.ui.showErrorDialog({
                                message: '请选择一条记录进行操作！'
                            });
                        }
                    });
                });
            </script>
        </div>
    </div>
    <script>
        var tabstrip = $("#tabstrip").kendoTabStrip({
            height: '100%',
            animation: false
        }).data("kendoTabStrip");
        tabstrip.tabGroup.on("click", ".k-i-close", function (e) {
            e.preventDefault();
            e.stopPropagation();
            var item = $(e.target).closest(".k-item");
            var index = item.index(),
                prev = item.next().length == 1 ? item.next() : item.prev();
            tabstrip.remove(item.index());
            tabstrip.select(prev)
        });
    </script>
</div>
</body>
</html>