<!--
    产线在制队列汇总查询 918100064
-->
<#include "../include/header.html" />
<body>
<style>
    span[class='k-window-title'] {
        user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }
    .action_ok {
        color: #5fb760;
    }

    .action_dangerous {
        color: #eeac5f;
    }
    .label{
        color: red;
    }

</style>
<Script src="${base.contextPath}/resources/js/yj-pda.js"></Script>
<script type="text/javascript">
    var viewModel = kendo.observable({
        model: {},
        queryGrid: function () {
            var unitCode = document.getElementById('unitCode').value;
            var lineId = document.getElementById('lineId').value;
            var total = document.getElementById('total').value;
            if (unitCode == null || unitCode == "" || unitCode == '') {
                kendo.ui.showErrorDialog({
                    title: '错误',
                    message: "查询条件:车间,必输！"
                });
            /*}else if(lineId == null || lineId == "" || lineId == ''){
                kendo.ui.showErrorDialog({
                    title: '错误',
                    message: "查询条件:生产线,必输！"
                });*/
            }else{
                grid.dataSource.data([]);
                if(total == 'Y'){
                    grid.showColumn("charg");
                    grid.showColumn("charg2");
                    grid.showColumn("charg3");
                    grid.showColumn("charg4");
                    grid.showColumn("cartonCode");
                    grid.showColumn("cartonCode2");
                    grid.hideColumn("total");
                }else{
                    grid.hideColumn("charg");
                    grid.hideColumn("charg2");
                    grid.hideColumn("charg3");
                    grid.hideColumn("charg4");
                    grid.hideColumn("cartonCode");
                    grid.hideColumn("cartonCode2");
                    grid.showColumn("total");
                }
                $('#Grid').data('kendoGrid').dataSource.page(1);
            }
        }
    });
</script>
<div id="content-container">
    <div id="page-content">
        <div class="panel" style="padding: 0px;border:none;box-shadow: none;">
            <form class="form-horizontal" id="myForm">
                <div class="panel-body">
                    <div id="test">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">车间<label class="label">*</label></label>
                                    <div class="col-sm-8">
                                        <input id="unitCode" class="k-textbox" data-bind="value:model.unitCode" style="width: 100%">
                                        <script>
                                            $("#unitCode").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_FEVOR2")}, {
                                                query: function (e) {
                                                    e.param['enabledFlag'] = 'Y';
                                                }
                                            }));
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">生产线<!--<label class="label">*</label>--></label>
                                    <div class="col-sm-8">
                                        <input id="lineId" class="k-textbox" data-bind="value:model.lineId" style="width: 100%">
                                        <script>
                                            $("#lineId").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_LINE_NEW")}, {
                                                query: function (e) {
                                                    e.param['deptId'] = document.getElementById("unitCode").value;
                                                    e.param['enabledFlag'] = 'Y';
                                                }
                                            }));
                                        </script>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">显示在制批次</label>
                                    <div class="col-sm-8">
                                        <input  type="checkbox" id="total" data-bind="checked:total,value:model.total"
                                                data-role="checkbox" data-value-primitive="true" data-checked-field="checked" data-value-field="value">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-right: -8px;">
                        <div class="pull-right" style="margin-right:15px">
							<span class="btn btn-primary" data-bind="click:queryGrid" type="submit">
                                <i class="fa fa-search" style="margin-right:3px;"></i>
                            <@spring.message "hap.query"/></span>
                            <span class="btn btn-info" type="button" id="panel_hidden1" onclick="test1()">
                                <i class="fa fa-joomla" style="margin-right:3px;"></i>
                           <@spring.message "hap.panel_hidden"/></span>
                            <span class="btn btn-info" type="button" id="panel_show1" onclick="test1()" style="display: none">
                                <i class="fa fa-joomla" style="margin-right:3px;"></i>
                           <@spring.message "hap.panel_show"/></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div style="clear:both">
            <div id="Grid"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    kendo.bind($('#page-content'), viewModel);
    function test1() {
        var apply = $("#test");
        var button_hidden = $("#panel_hidden1");
        var button_show = $("#panel_show1");
        if (apply.is(":hidden")) {
            button_hidden.show();
            button_show.hide();
            apply.show();    //如果元素为隐藏,则将它显现
        } else {
            button_hidden.hide();
            button_show.show();
            apply.hide();     //如果元素为显现,则将其隐藏
        }
        Hap.autoResizeGrid("#Grid");
    }
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/sap/fevor/queryZwipqhz",
                type: "POST",
                dataType: "json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type);
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                }
            }
        },
        batch: true,
        serverPaging: true,
        //pageSize: 20,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "werks",
                fields: {
                    werks:{type:'string'},
                    fevor:{type:'string'},
                    total:{type:'string'}
                }
            }
        }
    });

    $("#Grid").kendoGrid({
        dataSource: dataSource,
        autoBind:false,
        height: '100%',
        resizable: true,
        scrollable: true,
        navigatable: false,
        pageable: {
            pageSizes: ["all"],
            refresh: true,
            buttonCount: 10
        },
        toolbar: ["excel"],
        columns: [
            {
                field: "werks",
                title: '工厂',
                width: 80,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "unitCode",
                title: '车间',
                width: 80,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "txt",
                title: '车间名称',
                width: 180,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "lineId",
                title: '产线',
                width: 120,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "descriptions",
                title: '产线名称',
                width: 180,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "matnr2",
                title: '毛坯物料号',
                width: 100,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "maktx",
                title: '毛坯物料描述',
                width: 360,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "charg",
                title: '取件毛坯批次',
                width: 120,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "zsxnum",
                title: '取件数量',
                width: 100,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "charg2",
                title: '在线毛坯批次',
                width: 120,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "zsxnum2",
                title: '在线数量',
                width: 100,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "cartonCode",
                title: '装箱未报工托盘条码',
                width: 160,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "charg3",
                title: '装箱未报工毛坯批次',
                width: 120,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "zsxnum3",
                title: '装箱未报工数量',
                width: 100,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "cartonCode2",
                title: '装箱已报工未入库托盘条码',
                width: 160,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "charg4",
                title: '装箱已报工未入库毛坯批次',
                width: 120,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "zsxnum4",
                title: '装箱已报工未入库数量',
                width: 120,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "total",
                title: '在制汇总数量',
                width: 100,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "pmatnr",
                title: '成品物料号',
                width: 100,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            },
            {
                field: "pmaktx",
                title: '成品物料描述',
                width: 360,
                headerAttributes: {
                    style: "text-align: center;"
                },
                attributes: {
                    style: "text-align: center;"
                }
            }
        ],
        editable: false
    });

    var grid = $("#Grid").data("kendoGrid");
    grid.bind("excelExport", function(e) {
        e.workbook.fileName = "压射号报表.xlsx";
    });
    Hap.autoResizeGrid("#Grid");
</script>
</body>
</html>