<#include "../include/header.html" >
    <style>
        span[class='k-window-title'] {
            user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            -webkit-touch-callout: none;
        }

        .action_ok {
            color: #5fb760;
        }

        .action_dangerous {
            color: #eeac5f;
        }

        #mask2{
            background-color: #434343;
            opacity:0.5;
            filter: alpha(opacity=50);
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index:1001;
        }



    </style>
    <script type="text/javascript">
        var LODOP; //声明为全局变量
        var RESULT;


        /*   $(function(){
         setInterval(function(){
         $.ajax({
         url: '${base.contextPath}/test/form',
         async: false,
         success: function(data) {
         document.getElementById('s').innerHTML=JSON.stringify(data.rows[0]);
         document.getElementById('e').innerHTML=JSON.stringify(data.rows[1]);

         },
         });
         }, 1000);

         });*/


        //        function ajaxTest() {
        //            $.ajax({
        //                url: '${base.contextPath}/test/form',
        //                async: false,
        //                success: function (data) {
        //                    document.getElementById('s').innerHTML = JSON.stringify(data.rows[0]);
        //                    document.getElementById('e').innerHTML = JSON.stringify(data.rows[1]);
        //
        //                },
        //            });
        //        }

        var viewModel = kendo.observable({
            model: {},

            resetForm: function () {
                var formData = viewModel.model.toJSON();
                for (var k in formData) {
                    viewModel.model.set(k, null);
                }
                $('#Grid').data('kendoGrid').dataSource.read();
            },
            queryGrid: function (e) {
                $('#Grid').data('kendoGrid').dataSource.page(1);
            }


        });

    </script>


    <div id="content-container">
        <div id="page-content">
            <div class="panel" style="padding: 0px;border:none;box-shadow: none;">
                <form class="form-horizontal" id="myForm">
                    <div class="panel-body">
                        <div id="test">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">工厂</label>
                                        <div class="col-sm-8">
                                            <input id="queryType" class="k-textbox" data-bind="value:model.werks"
                                                   style="width: 100%">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">产品物料号</label>
                                        <div class="col-sm-8">
                                            <input id="queryID" class="k-textbox" data-bind="value:model.matnr"
                                                   style="width: 100%">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">流转卡号</label>
                                        <div class="col-sm-8">
                                            <input  type="text" style="width: 100%" data-bind="value:model.zpgdbar" class="k-textbox">
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row ">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">订单</label>
                                        <div class="col-sm-8">
                                            <input type="text" style="width: 100%" data-bind="value:model.aufnr"
                                                   class="k-textbox">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">流转卡状态</label>
                                        <div class="col-sm-8">
                                            <input id="finished" style="width: 100%" data-bind="value:model.status"
                                                   class="k-textbox">
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">订单类型</label>
                                        <div class="col-sm-8">
                                            <input  type="text" style="width: 100%" data-bind="value:model.auart" class="k-textbox">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row" style="margin-right: -8px;">
                            <!--<div class="pull-left" style="margin-right:15px;">-->
                            <!--<div style="margin-top: 6px"><font size="3">-->
                            <!--<div style="float: left">成功：</div>-->
                            <!--<div id="s" style="float: left;">0</div>-->
                            <!--<div style="float: left;margin-left: 20px">失败：</div>-->
                            <!--<div style="float: left" id="e">0</div>-->
                            <!--</font></div>-->
                            <!--</div>-->
                            <div class="pull-right" style="margin-right:15px">
                                <span class="btn btn-primary" data-bind="click:queryGrid"
                                      type="submit">
                                <i class="fa fa-search" style="margin-right:3px;"></i>
                            <@spring.message "hap.query"/></span>
                                <span class="btn btn-default" type="button" data-bind="click:resetForm">
                                <i class="fa fa-eraser" style="margin-right:3px;"></i>
                            <@spring.message "hap.reset"/></span>
                                <span class="btn btn-info" type="button" id="panel_hidden" onclick="test()">
                                <i class="fa fa-joomla" style="margin-right:3px;"></i>
                           <@spring.message "hap.panel_hidden"/></span>
                                <span class="btn btn-info" type="button" id="panel_show" onclick="test()"
                                      style="display: none">
                                <i class="fa fa-joomla" style="margin-right:3px;"></i>
                           <@spring.message "hap.panel_show"/></span>
                            </div>
                        </div>
                    </div>


                </form>
            </div>

            <div style="clear:both">
                <div id="Grid"></div>
            </div>

        </div>
    </div>
    <div id="mask2">
    </div>
    <input  type="hidden" style="width: 100%" class="k-textbox" id="S1" >
    <script type="text/javascript">
        var dMask2 = document.getElementById("mask2");
        dMask2.style.display = "none";//不显示遮罩

        kendo.bind($('#page-content'), viewModel);
        function test() {
            var apply = $("#test");
            var button_hidden = $("#panel_hidden");
            var button_show = $("#panel_show");
            if (apply.is(":hidden")) {
                button_hidden.show();
                button_show.hide();
                apply.show();    //如果元素为隐藏,则将它显现
            } else {
                button_hidden.hide();
                button_show.show();
                apply.hide();     //如果元素为显现,则将其隐藏
            }
            Hap.autoResizeGrid("#Grid");

        }
        var BaseUrl = _basePath;
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: BaseUrl + "/sap/cardh/queryZuheAfterSort",
                    type: "POST",
                    dataType: "json"
                },
                parameterMap: function (options, type) {
                    if (type !== "read" && options.models) {
                        var datas = Hap.prepareSubmitParameter(options, type);

                        return kendo.stringify(datas);
                    } else if (type === "read") {
                        return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                    }
                }
            },
            batch: true,
            serverPaging: true,
            pageSize: 10,
            schema: {
                data: 'rows',
                total: 'total',
                model: {
                    id: "id",
                    fields: {
                        werks: {type: "string"},
                        matnr: {type: "string"},
                        aufnr: {type: "string"},
                        status: {type: "string"},
                        zpgdbar: {type: "string"},
                        auart:{type:"string"}

                    }
                }
            }
        });

        var gird = $("#Grid").kendoGrid({
            dataSource: dataSource,
            autoBind:false,
            height: '100%',
            resizable: true,
            scrollable: true,
            navigatable: false,
            selectable: 'rowbox,multiple',
            pageable: {
                pageSizes: [20, 50, 100, 500, 1000, 2000, 5000, "all"],
                refresh: true,
                buttonCount: 10
            },
            toolbar: [{
                name: "stop",
                template: '<span id="deleteBtn" class="btn btn-danger">删除工序流转卡</span>'
            },
                {
                    name: "print",
                    template: '<span id="printBtn" class="btn btn-success">打印工序流转卡</span>'
                }],
            columns:[
                {
                    field: "werks",
                    title: '工厂',
                    width: 70,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                },{
                    field: "matnr",
                    title: '物料编码',
                    width: 100,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                },{
                    field: "zpgdbar",
                    title: '流转卡号',
                    width: 170,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                },{
                    field: "zpgdbh",
                    title: '流转卡编号',
                    width: 100,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                },{
                    field: "relzpgdbar",
                    title: '关联流转卡号',
                    width: 170,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                },
                {
                    field: "status",
                    title: '流转卡当前状态',
                    width: 70,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                },{
                    field: "status2",
                    title: '流转卡上一状态',
                    width: 120,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                },{
                    field: "aufnr",
                    title: '来源生产订单',
                    width: 100,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                },{
                    field: "auart",
                    title: '来源订单类型',
                    width: 100,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                }
                ,{
                    field: "aufnr2",
                    title: '关联生产订单',
                    width: 100,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                },
                {
                    field: "menge",
                    title: '流转卡数量',
                    width: 70,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                },{
                    field: "gamng",
                    title: '订单数量',
                    width: 70,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                },{
                    field: "gmein",
                    title: '单位',
                    width: 70,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                },{
                    field: "charg",
                    title: '订单批次',
                    width: 100,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                },{
                    field: "gstrp",
                    title: '流转卡计划开始日期',
                    width: 150,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                },{
                    field: "gltrp",
                    title: '流转卡计划完成日期',
                    width: 150,
                    headerAttributes: {
                        style: "text-align: center;"
                    },
                    attributes: {
                        style: "text-align: center;"
                    }
                }
//                ,
//                {
//                    field: "zdybs",
//                    title: '打印标识',
//                    width: 70,
//                    headerAttributes: {
//                        style: "text-align: center;"
//                    },
//                    attributes: {
//                        style: "text-align: center;"
//                    }
//                }

            ],
            editable: false
        });

        Hap.autoResizeGrid("#Grid");
    </script>
    <script>
        $('#S1').on('input', function (){
            RESULT = document.getElementById('S1').value;
            alert(RESULT);
        });
    </script>
    <script>
        $('#deleteBtn').on('click',function () {
            //检查记录是否勾选，检查勾选的记录的状态
            var grid =  $("#Grid").data("kendoGrid"),
                selections = grid.selectedDataItems();
            var flg = " ";
            if (selections.length > 0){
                for(var i=0;i<selections.length;i++){
                    if(selections[i].status != "CRTD" && selections[i].status != "PRNT" ){
                        flg = "E";
                        kendo.ui.showErrorDialog({
                            title: '错误',
                            message: "选择的流转卡记录中包含已经报工的流转卡，不允许直接删除！"
                        });
                        break;
                    }
                }

                if (flg != "E"){
                    //开始删除逻辑
                    var dataarray = new Array();
                    for(var i=0;i<selections.length;i++){
                        var index = i;
                        var viewModeldel = kendo.observable({
                            model:{
                                zpgdbar: selections[index].zpgdbar,
                                zpgdbh: selections[index].zpgdbh,
                                zxhnum: selections[index].zxhnum,
                                werks: selections[index].werks,
                                matnr: selections[index].matnr,
                                aufnr: selections[index].aufnr,
                                auart: selections[index].auart,
                                menge: selections[index].menge,
                                gamng: selections[index].gamng,
                                gmein: selections[index].gmein,
                                charg: selections[index].charg,
                                gstrp: selections[index].gstrp,
                                gltrp: selections[index].gltrp,
                                aufpl: selections[index].aufpl,
                                status: selections[index].status,
                                status2:selections[index].status2,
                                relaufnr:selections[index].relaufnr,
                                relzpgdbar:selections[index].relzpgdbar
                            }
                        });
                        dataarray[i] = viewModeldel.model.toJSON();
                    }
                    var data = JSON.stringify(dataarray);
                    if (data.length > 0){
                        kendo.ui.showConfirmDialog({
                            title: '提示',
                            message: '确定删除选中的流转卡及相关数据记录么?'
                        }).done(function (e) {
                            if (e.button == "OK"){
                                $.ajax({
                                    url:"${base.contextPath}/sap/cardh/deleteZuheCardh",
                                    type: "POST",
                                    data: data,
                                    async: false,
                                    contentType: "application/json; charset=utf-8",
                                    success: function (res) {
                                        if (res.success){
                                            $('#Grid').data('kendoGrid').dataSource.page(1);
                                            Hap.autoResizeGrid("#Grid");
                                            var message = res.message;
                                            kendo.ui.showConfirmDialog({
                                                title: '提示',
                                                message: message
                                            });
                                        }else{
                                            $('#Grid').data('kendoGrid').dataSource.page(1);
                                            Hap.autoResizeGrid("#Grid");
                                            var message = res.message;
                                            kendo.ui.showErrorDialog({
                                                title:'错误',
                                                message:message
                                            });
                                        }
                                    },
                                    error: function (res) {
                                        kendo.ui.showErrorDialog({
                                            title: '错误',
                                            message: "删除流转卡失败，请联系系统管理员！"
                                        });
                                    }
                                });
                            }
                        });
                    }
                }

            }else{
                kendo.ui.showErrorDialog({
                    title: '错误',
                    message: "请选择需要删除的流转卡记录！"
                });
            }
        });
        $('#printBtn').on('click', function (){
            //检查是否勾选记录

            var grid =  $("#Grid").data("kendoGrid"),
                selections = grid.selectedDataItems();
            if (selections.length > 0){
                try{
                    var LODOP=getLodop();
                    LODOP.PRINT_INITA("0mm","0mm","211.67mm","317.5mm","工序流转卡打印");
                    for (var i = 0;i<selections.length;i++){

                        $.ajax({
                            url:"${base.contextPath}/sap/cardh/readyForPrintZH",
                            type: "get",
                            data: {zpgdbar:selections[i].zpgdbar,
                                   relzpgdbar:selections[i].relzpgdbar},
                            async: false,
                            contentType: "application/json; charset=utf-8",
                            success: function (res) {
                                var rows = res.rows;
                                if ( rows.length > 0){
                                    var barcode = rows[0].zpgdbar;//机加流转卡号
                                    var matnr1 = rows[1].matnr;//压铸物料编码
                                    var matnr2 = rows[0].matnr;//机加物料编码
                                    var aufnr1 = rows[1].aufnr;//压铸生产订单
                                    var aufnr2 = rows[0].matnr;//机加生产订单
                                    var auart1 = rows[1].auart;//压铸生产订单类型
                                    var auart2 = rows[0].auart;//机加生产订单类型
                                    var mtlbd = rows[1].mtlbd;//铝材牌号
                                    var menge = rows[1].menge;//机加流转卡数量
                                    var plqty = rows[1].plqty;
                                    var maktx1 = rows[3].maktx;
                                    var maktx2 = rows[2].maktx;
                                    var printdate = getNowFormatDate();
                                    LODOP.ADD_PRINT_RECT("0.5mm","0.5mm","199.23mm","285.01mm",0,3);
                                    LODOP.ADD_PRINT_LINE("20mm","0.5mm","20.27mm","150.5mm",0,1);
                                    LODOP.ADD_PRINT_TEXT("4.5mm","53.98mm","62.71mm","11.38mm","工序流转卡");
                                    LODOP.SET_PRINT_STYLEA(0,"FontSize",24);
                                    LODOP.SET_PRINT_STYLEA(0,"Bold",1);
                                    LODOP.ADD_PRINT_LINE("0.5mm","149.99mm","40.51mm","150.26mm",0,1);
                                    LODOP.ADD_PRINT_LINE("40.27mm","149.99mm","40mm","200mm",0,1);
                                    LODOP.ADD_PRINT_LINE("30.27mm","0.5mm","30mm","150.5mm",0,1);
                                    LODOP.ADD_PRINT_LINE("40.27mm","0.5mm","40mm","150.5mm",0,1);
                                    LODOP.ADD_PRINT_LINE("50.27mm","0.5mm","50.01mm","199.73mm",0,1);
                                    LODOP.ADD_PRINT_LINE("60.27mm","0.5mm","60.01mm","199.73mm",0,1);
                                    LODOP.ADD_PRINT_LINE("70.27mm","0.5mm","70.01mm","199.73mm",0,1);
                                    LODOP.ADD_PRINT_LINE("80.27mm","0.5mm","80.01mm","199.73mm",0,3);
                                    LODOP.ADD_PRINT_LINE("90.28mm","0.5mm","90.01mm","199.73mm",0,1);
                                    LODOP.ADD_PRINT_LINE("100.01mm","0.5mm","100.28mm","199.73mm",0,1);
                                    LODOP.ADD_PRINT_LINE("120.25mm","0.5mm","119.99mm","199.73mm",0,1);
                                    LODOP.ADD_PRINT_LINE("140.26mm","0.5mm","139.99mm","199.73mm",0,1);
                                    LODOP.ADD_PRINT_LINE("160.26mm","0.5mm","159.99mm","199.73mm",0,1);
                                    LODOP.ADD_PRINT_LINE("180mm","0.5mm","180.26mm","199.73mm",0,1);
                                    LODOP.ADD_PRINT_LINE("200mm","0.5mm","200.26mm","199.73mm",0,1);
                                    LODOP.ADD_PRINT_LINE("220mm","0.5mm","220.27mm","199.73mm",0,1);
                                    LODOP.ADD_PRINT_LINE("240.27mm","0.5mm","240mm","199.73mm",0,3);
                                    LODOP.ADD_PRINT_LINE("250.27mm","0.5mm","250mm","199.73mm",0,1);
                                    LODOP.ADD_PRINT_LINE("250mm","100.01mm","285.01mm","100.28mm",0,1);
                                    LODOP.ADD_PRINT_LINE("90.01mm","20mm","240mm","20.27mm",0,1);
                                    LODOP.ADD_PRINT_LINE("90.01mm","40mm","240mm","40.27mm",0,1);
                                    LODOP.ADD_PRINT_LINE("90.01mm","55.01mm","240mm","55.27mm",0,1);
                                    LODOP.ADD_PRINT_LINE("90.01mm","70.01mm","240mm","70.27mm",0,1);
                                    LODOP.ADD_PRINT_LINE("90.01mm","85.01mm","240mm","85.28mm",0,1);
                                    LODOP.ADD_PRINT_LINE("90.01mm","100.01mm","250mm","100.28mm",0,1);
                                    LODOP.ADD_PRINT_LINE("90.01mm","114.99mm","240mm","115.25mm",0,1);
                                    LODOP.ADD_PRINT_LINE("90.01mm","129.99mm","240mm","130.25mm",0,1);
                                    LODOP.ADD_PRINT_LINE("90.01mm","144.99mm","240mm","145.26mm",0,1);
                                    LODOP.ADD_PRINT_LINE("90.01mm","180mm","240mm","180.26mm",0,1);
                                    LODOP.ADD_PRINT_LINE("80.01mm","20mm","20mm","20.27mm",0,1);
                                    LODOP.ADD_PRINT_LINE("20mm","50.01mm","80.01mm","50.27mm",0,1);
                                    LODOP.ADD_PRINT_LINE("20mm","70.01mm","80.01mm","70.27mm",0,1);
                                    LODOP.ADD_PRINT_LINE("40mm","100.01mm","60.01mm","100.28mm",0,1);
                                    LODOP.ADD_PRINT_LINE("40mm","119.99mm","60.01mm","120.25mm",0,1);
                                    LODOP.ADD_PRINT_TEXTA("t_aufnr","22.49mm","1.51mm","17.73mm","6.61mm","订单");
                                    LODOP.ADD_PRINT_TEXTA("t_auart","22.49mm","51.01mm","17.73mm","6.61mm","订单类型");
                                    LODOP.ADD_PRINT_TEXTA("t_groes","31.75mm","1.51mm","17.99mm","6.61mm","铝材牌号");
                                    LODOP.ADD_PRINT_TEXT("31.75mm","51.01mm","17.99mm","6.61mm","流转卡");
                                    LODOP.ADD_PRINT_TEXT("61.91mm","1.51mm","17.99mm","6.61mm","毛坯编码");
                                    LODOP.ADD_PRINT_TEXT("71.97mm","1.51mm","17.99mm","6.61mm","成品编码");
                                    LODOP.ADD_PRINT_TEXT("61.91mm","51.01mm","17.99mm","6.61mm","毛坯描述");
                                    LODOP.ADD_PRINT_TEXT("71.97mm","51.01mm","17.99mm","6.61mm","成品描述");
                                    LODOP.ADD_PRINT_TEXT("42.07mm","100.49mm","19mm","6.61mm","首工作中心");
                                    LODOP.ADD_PRINT_TEXT("42.07mm","2.06mm","17.67mm","6.61mm","订单数量");
                                    LODOP.ADD_PRINT_TEXT("42.07mm","51.01mm","19mm","6.61mm","派工数量");
                                    LODOP.ADD_PRINT_TEXT("51.86mm","1.51mm","17.99mm","6.61mm","打印日期");
                                    LODOP.ADD_PRINT_TEXT("51.86mm","51.01mm","17.99mm","6.61mm","熔炼炉号");
                                    LODOP.ADD_PRINT_TEXT("51.86mm","100.99mm","17.99mm","6.61mm","机加订单");
                                    LODOP.ADD_PRINT_TEXT("81.49mm","77.79mm","26.46mm","8.2mm","工序明细");
                                    LODOP.SET_PRINT_STYLEA(0,"FontSize",14);
                                    LODOP.SET_PRINT_STYLEA(0,"Bold",1);
                                    LODOP.ADD_PRINT_TEXT("92.08mm","1.01mm","20mm","9.26mm","工序编号");
                                    LODOP.ADD_PRINT_TEXT("92.08mm","21.01mm","20mm","9.26mm","工序名称");
                                    LODOP.ADD_PRINT_TEXT("92.08mm","41.01mm","20mm","9.26mm","合格");
                                    LODOP.ADD_PRINT_TEXT("92.08mm","56.01mm","20mm","9.26mm","工废");
                                    LODOP.ADD_PRINT_TEXT("92.08mm","70.99mm","20mm","9.26mm","料废");
                                    LODOP.ADD_PRINT_TEXT("92.08mm","85.99mm","20mm","9.26mm","模号");
                                    LODOP.ADD_PRINT_TEXT("92.08mm","100.99mm","20mm","9.26mm","班次");
                                    LODOP.ADD_PRINT_TEXT("92.08mm","115.99mm","20mm","9.26mm","操作者");
                                    LODOP.ADD_PRINT_TEXT("90.99mm","131.23mm","20mm","9.26mm","生产\r\n日期");
                                    LODOP.ADD_PRINT_TEXT("92.08mm","153.41mm","20mm","9.26mm","工作中心");
                                    LODOP.ADD_PRINT_TEXT("92.08mm","181mm","20mm","9.26mm","检验员");
                                    LODOP.ADD_PRINT_TEXT("241.83mm","133.88mm","31.75mm","6.61mm","箱号条码");
                                    LODOP.SET_PRINT_STYLEA(0,"FontSize",11);
                                    LODOP.SET_PRINT_STYLEA(0,"Bold",1);

                                    LODOP.ADD_PRINT_BARCODE("2.59mm","157.11mm","40mm","45.01mm","QRCode",barcode);//流转卡号 以机加流转卡号为主
                                    LODOP.ADD_PRINT_TEXTA("aufnr1","22.49mm","20.64mm","27.78mm","6.61mm",aufnr1);//压铸生产订单
                                    LODOP.ADD_PRINT_TEXTA("auart_txt","22.49mm","77.52mm","57.15mm","6.61mm",auart1);//压铸生产订单类型
                                    LODOP.ADD_PRINT_TEXTA("groes","31.75mm","20.9mm","27.78mm","6.61mm",mtlbd);//铝材牌号
                                    LODOP.ADD_PRINT_TEXTA("zpgdbar","32.28mm","77.52mm","57.94mm","5.29mm",barcode);//机加流转卡号
                                    LODOP.ADD_PRINT_TEXTA("gamng","42.07mm","20.64mm","26.46mm","6.61mm",menge);//流转卡数量
                                    LODOP.ADD_PRINT_TEXTA("umrez","42.6mm","72.23mm","26.46mm","5.29mm",plqty);//压铸标准装框数量
                                    LODOP.ADD_PRINT_TEXT("52.39mm","21.43mm","26.46mm","5.29mm",printdate);//机加流转卡的开始日期
                                    LODOP.ADD_PRINT_TEXTA("matnr1","62.44mm","21.43mm","26.46mm","5.29mm",matnr1);//压铸物料编码
                                    LODOP.ADD_PRINT_TEXTA("maktx1","62.44mm","71.7mm","124.62mm","5.29mm",maktx1);//压铸物料描述
                                    LODOP.ADD_PRINT_TEXTA("matnr2","72.5mm","21.17mm","26.46mm","5.29mm",matnr2);//机加物料编码
                                    LODOP.ADD_PRINT_TEXTA("maktx2","71.97mm","71.17mm","125.41mm","6.61mm",maktx2);//机加物料描述
                                    LODOP.ADD_PRINT_TEXTA("aufnr2","52.39mm","123.3mm","26.46mm","5.29mm",aufnr2);//机加生产订单
                                    var num = 0;
                                    var afvcrows = rows[4];
                                    for (var j = 0;j<afvcrows.length;j++){

                                        if (num == 0){
                                            LODOP.ADD_PRINT_TEXTA("vornr-1","105.3mm","3.97mm","11.91mm","7.94mm",afvcrows[j].vornr);
                                            LODOP.ADD_PRINT_TEXTA("ltxa1-1","104.51mm","23.81mm","13.23mm","13.23mm",afvcrows[j].ltxa1);
                                            LODOP.ADD_PRINT_TEXTA("ktext-1","102.39mm","148.43mm","26.46mm","16.4mm",afvcrows[j].ktext);
                                            LODOP.ADD_PRINT_TEXTA("ktext","42.6mm","122.24mm","71.17mm","5.29mm",afvcrows[j].ktext);
                                            num += 1;
                                        }else if(num == 1){
                                            LODOP.ADD_PRINT_TEXTA("vornr-2","125.94mm","3.97mm","11.91mm","7.94mm",afvcrows[j].vornr);
                                            LODOP.ADD_PRINT_TEXTA("ltxa1-2","124.35mm","23.81mm","13.23mm","13.23mm",afvcrows[j].ltxa1);
                                            LODOP.ADD_PRINT_TEXTA("ktext-2","122.24mm","148.43mm","26.46mm","16.4mm",afvcrows[j].ktext);
                                            num += 1;
                                        }else if(num == 2){
                                            LODOP.ADD_PRINT_TEXTA("vornr-3","146.58mm","3.97mm","11.91mm","7.94mm",afvcrows[j].vornr);
                                            LODOP.ADD_PRINT_TEXTA("ltxa1-3","144.99mm","23.81mm","13.23mm","13.23mm",afvcrows[j].ltxa1);
                                            LODOP.ADD_PRINT_TEXTA("ktext-3","142.35mm","148.43mm","26.46mm","16.4mm",afvcrows[j].ktext);
                                            num += 1;
                                        }else if(num == 3){
                                            LODOP.ADD_PRINT_TEXTA("vornr-4","165.36mm","3.97mm","11.91mm","7.94mm",afvcrows[j].vornr);
                                            LODOP.ADD_PRINT_TEXTA("ltxa1-4","164.84mm","23.81mm","13.23mm","13.23mm",afvcrows[j].ltxa1);
                                            LODOP.ADD_PRINT_TEXTA("ktext-4","162.19mm","148.43mm","26.46mm","16.4mm",afvcrows[j].ktext);
                                            num += 1;
                                        }else if (num == 4){
                                            LODOP.ADD_PRINT_TEXTA("vornr-5","184.15mm","3.97mm","11.91mm","7.94mm",afvcrows[j].vornr);
                                            LODOP.ADD_PRINT_TEXTA("ltxa1-5","184.68mm","23.81mm","13.23mm","13.23mm",afvcrows[j].ltxa1);
                                            LODOP.ADD_PRINT_TEXTA("ktext-5","181.24mm","148.43mm","26.46mm","16.4mm",afvcrows[j].ktext);
                                            num += 1;
                                        }else if (num ==5){
                                            LODOP.ADD_PRINT_TEXTA("vornr-6","202.94mm","3.97mm","11.91mm","7.94mm",afvcrows[j].vornr);
                                            LODOP.ADD_PRINT_TEXTA("ltxa1-6","203.46mm","23.81mm","13.23mm","13.23mm",afvcrows[j].ltxa1);
                                            LODOP.ADD_PRINT_TEXTA("ktext-6","201.35mm","148.43mm","26.46mm","16.4mm",afvcrows[j].ktext);
                                            num += 1;
                                        }else if (num ==6){
                                            LODOP.ADD_PRINT_TEXTA("vornr-7","224.37mm","3.97mm","11.91mm","7.94mm",afvcrows[j].vornr);
                                            LODOP.ADD_PRINT_TEXTA("ltxa1-7","225.16mm","23.81mm","13.23mm","13.23mm",afvcrows[j].ltxa1);
                                            LODOP.ADD_PRINT_TEXTA("ktext-7","221.99mm","148.43mm","26.46mm","16.4mm",afvcrows[j].ktext);
                                            num += 1;
                                        }
                                    }
                                }
                            }

                        });
                        if (selections.length > 1 && i != selections - 1){
                            LODOP.NEWPAGE();
                        }

                    }
                    tempprint();
                    dMask2.style.display = "";//添加遮罩

                }catch(err){

                }


            }else{
                kendo.ui.showErrorDialog({
                    title: '错误',
                    message: "请选择需要打印的流转卡记录！"
                });
            }

        });

        function tempprint() {//打印回调

            if (LODOP.CVERSION) CLODOP.On_Return=function(TaskID,Value){
                document.getElementById('S1').value=Value;
                if (Value == 1 || Value == 0){
                    //dMask2.style.display = "none";
                    //反写打印标识和修改打印状态

                    if (Value == 1){//成功打印
                        var dataarray = new Array();
                        var grid =  $("#Grid").data("kendoGrid"),
                            selections = grid.selectedDataItems();
                        if(selections.length > 0){
                            for(var i=0;i<selections.length;i++){
                                var index = i;
                                var viewModelupdate = kendo.observable({
                                    model:{
                                        zpgdbar:selections[index].zpgdbar,
                                        status2:selections[index].status,
                                        status:"PRNT"
                                    }
                                });
                                dataarray[i] = viewModelupdate.model.toJSON();
                            }
                            var data = JSON.stringify(dataarray);
                            $.ajax({
                                url: "${base.contextPath}/sap/cardh/updateCardhStatus",
                                type: "POST",
                                data:data,
                                async: false,
                                contentType: "application/json; charset=utf-8",
                                success: function (res){
                                    if (res.code == 'S'){
                                        $('#Grid').data('kendoGrid').dataSource.page(1);
                                        Hap.autoResizeGrid("#Grid");
                                        dMask2.style.display = "none";
                                    }else {
                                        $('#Grid').data('kendoGrid').dataSource.page(1);
                                        Hap.autoResizeGrid("#Grid");
                                        dMask2.style.display = "none";
                                        kendo.ui.showErrorDialog({
                                            title: '错误',
                                            message: "请选择需要打印的流转卡记录！"
                                        });
                                    }
                                }
                            });
                        }

                    }else{
                        //取消打印 不做处理
                        dMask2.style.display = "none";
                    }
                }

            };
            LODOP.SET_PREVIEW_WINDOW(0,1,1,1024,768,"自定义标题.开始打印");
            document.getElementById('S1').value= LODOP.PREVIEW();
            //document.getElementById('S1').value= LODOP.PRINT_DESIGN();

        }

        function getNowFormatDate() {
            var date = new Date();
            var seperator1 = "-";
            var seperator2 = ":";
            var month = date.getMonth() + 1;
            var strDate = date.getDate();
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
                + " " + date.getHours() + seperator2 + date.getMinutes()
                + seperator2 + date.getSeconds();
            return currentdate;
        }
    </script>

    </body>
    </html>