<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.core.wiplockconst.mapper.LockConstMapper">
    <resultMap id="BaseResultMap" type="yj.core.wiplockconst.dto.LockConst">
        <result column="ID" property="id" jdbcType="VARCHAR" />
        <result column="WERKS" property="werks" jdbcType="VARCHAR" />
        <result column="LINE_ID" property="lineId" jdbcType="DECIMAL" />
        <result column="CONST_TYPE" property="constType" jdbcType="VARCHAR" />
        <result column="CONST_VALUE" property="constValue" jdbcType="VARCHAR" />
        <result column="CONST_SEQNUM" property="constSeqnum" jdbcType="DECIMAL" />
        <result column="STATUS" property="status" jdbcType="DECIMAL" />
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE" />
        <result column="CREATED_BY" property="createdBy" jdbcType="VARCHAR" />
        <result column="LAST_UPDATED_DATE" property="lastUpdatedDate" jdbcType="DATE" />
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectByConstType" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id,const_type,const_value from wip_lock_const
        <where>
            1 = 1
            <if test="lineId != null">
                AND line_id = #{lineId}
            </if>
            <if test="constType != null">
                AND const_type = #{constType}
            </if>
        </where>
    </select>
    <select id="selectLockConst" parameterType="yj.core.wiplockconst.dto.LockConst" resultMap="BaseResultMap">
        select lc.*,li.descriptions,li.dept_id as deptId from wip_lock_const lc,wip_lines li
        <where>
            lc.line_id = li.line_id
            <if test="deptId != null">
                AND li.dept_id = #{deptId}
            </if>
            <if test="lineId != null">
                AND lc.line_id = #{lineId}
            </if>
        </where>
        order by lc.werks asc,lc.line_id asc
    </select>
    <insert id="insertLockConst" parameterType="yj.core.wiplockconst.dto.LockConst">
        insert into wip_lock_const(ID,WERKS,LINE_ID,CONST_TYPE,CONST_VALUE,CONST_SEQNUM,STATUS,CREATION_DATE,CREATED_BY)
        VALUES(#{id},#{werks},#{lineId},#{constType},#{constValue},#{constSeqnum},#{status},#{creationDate},#{createdBy})
    </insert>
    <update id="updateLockConst" parameterType="yj.core.wiplockconst.dto.LockConst">
        update wip_lock_const set ID=#{id},WERKS=#{werks},LINE_ID=#{lineId},CONST_TYPE=#{constType},CONST_VALUE=#{constValue},
        CONST_SEQNUM=#{constSeqnum},STATUS=#{status},LAST_UPDATED_DATE=#{lastUpdatedDate},LAST_UPDATED_BY=#{lastUpdatedBy}
        <where>
            ID = #{id}
        </where>
    </update>
</mapper>