<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.core.wipcurlzk.mapper.CurlzkMapper">
    <resultMap id="BaseResultMap" type="yj.core.wipcurlzk.dto.Curlzk">
        <result column="LINE_ID" property="lineId" jdbcType="VARCHAR" />
        <result column="LINE_CODE" property="lineCode" jdbcType="VARCHAR" />
        <result column="DESCRIPTIONS" property="descriptions" jdbcType="VARCHAR" />
        <result column="ZPGDBAR" property="zpgdbar" jdbcType="VARCHAR" />
        <result column="ZXHBAR" property="zxhbar" jdbcType="VARCHAR" />
        <result column="SHIFT" property="shift" jdbcType="VARCHAR" />
        <result column="ERDAT" property="erdat" jdbcType="DATE" />
        <result column="DEPT_ID" property="deptId"  jdbcType="DATE" />
        <result column="MATNRJJ" property="matnrjj" jdbcType="VARCHAR" />
        <result column="MAKTXJJ" property="maktxjj" jdbcType="VARCHAR" />
        <result column="ERDAT" property="erdat" jdbcType="DATE" />
        <result column="ERDAT" property="erdat" jdbcType="DATE" />
        <result column="CREATION_DATE" property="creationDate" jdbcType="DATE" />
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
        <result column="LAST_UPDATED_DATE" property="lastUpdateDate" jdbcType="DATE" />
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL" />
        <result column="LAST_UPDATED_DATE" property="lastUpdateDateStr" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectById" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from wip_curlzk
        <where>
            LINE_ID = #{line_id}
            <if test="classgrp != null">
                and SHIFT = #{classgrp}
            </if>
        </where>
    </select>
    <update id="updateZxhbar" parameterType="yj.core.wipcurlzk.dto.Curlzk">
        UPDATE wip_curlzk set ZXHBAR = #{zxhbar}
        <if test="lastUpdateDate != null">
            ,LAST_UPDATED_DATE = #{lastUpdateDate}
        </if>
        <if test="lastUpdatedBy != null">
            ,LAST_UPDATED_BY = #{lastUpdatedBy}
        </if>
        <where>
            LINE_ID = #{lineId}
            and SHIFT = #{shift}
        </where>
    </update>

    <select id="selectAllLinesforZxhbar" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from wip_curlzk
        <where>
            ZXHBAR IS NOT NULL
            AND ZXHBAR != ''
        </where>
        <!--<where>-->
            <!--LINE_ID != #{lineId}-->
        <!--</where>-->
    </select>

    <select id="selectById2" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select * from wip_curlzk
        <where>
            LINE_ID = #{line_id}
        </where>
    </select>

    <select id="selectByZpgdbar" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from wip_curlzk
        <where>
            ZPGDBAR = #{zpgdbar}
        </where>
    </select>

    <select id="selectAllLinesForKanbByErdat" parameterType="java.lang.String" resultMap="BaseResultMap">
        select  hr.UNIT_CODE,
                cardh.matnr as matnrjj,
                hr.NAME,
                cur.LINE_ID,
                cur.LINE_CODE,
                cur.DESCRIPTIONS,
                cur.ZPGDBAR,
                cur.ZXHBAR,
                cur.SHIFT,
                cur.ERDAT,
                cur.LAST_UPDATED_DATE as lastUpdateDateStr,
                li.dept_id,
                marc.maktx as matktxjj,
                cardh.menge
        from wip_curlzk cur,wip_lines li,sap_cardh cardh,sap_marc marc,hr_org_unit_b hr
        <where>
            li.line_id = cur.LINE_ID
            and li.DEPT_ID = UNIT_CODE
            and cur.zpgdbar = cardh.zpgdbar
            and cardh.matnr = marc.matnr
            and ERDAT = #{erdat}
            ORDER  BY UNIT_CODE,matnrjj asc
        </where>
    </select>
</mapper>