<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.core.logdtl.mapper.LogdtlMapper">
    <resultMap id="BaseResultMap" type="yj.core.logdtl.dto.Logdtl">
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="logid" property="logid" jdbcType="VARCHAR" />
        <result column="keyword1" property="keyword1" jdbcType="VARCHAR" />
        <result column="keyword2" property="keyword2" jdbcType="VARCHAR" />
        <result column="keyword3" property="keyword3" jdbcType="VARCHAR" />
        <result column="keyword4" property="keyword4" jdbcType="VARCHAR" />
        <result column="operation" property="operation" jdbcType="VARCHAR" />
        <result column="msgtype" property="msgtype" jdbcType="VARCHAR" />
        <result column="message" property="message" jdbcType="VARCHAR" />
        <result column="CREATION_DATE" property="creationDate" jdbcType="VARCHAR" />
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL" />
        <result column="LAST_UPDATE_DATE" property="lastUpdatedDate" jdbcType="DATE" />
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL" />
    </resultMap>

    <insert id="insertNewDtl" parameterType="yj.core.logdtl.dto.Logdtl">
        insert into wip_logdtl(id,logid,keyword1,keyword2,keyword3,keyword4,operation,msgtype,message,CREATED_BY,CREATION_DATE)
        VALUES (#{id},#{logid},#{keyword1},#{keyword2},#{keyword3},#{keyword4},#{operation},#{msgtype},#{message},#{createdBy},#{creationDate})
    </insert>

</mapper>