<?xml version="1.0" encoding="UTF-8" ?>

        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.kanb.vbline.mapper.VblineMapper">
<resultMap id="BaseResultMap" type="yj.kanb.vbline.dto.Vbline">
    <result column="bukrs" property="bukrs" jdbcType="VARCHAR"/>
    <result column="werks" property="werks" jdbcType="VARCHAR"/>
    <result column="lineId" property="lineId" jdbcType="DECIMAL"/>
    <result column="groupId" property="groupId" jdbcType="VARCHAR"/>
    <result column="product" property="product" jdbcType="VARCHAR"/>
    <result column="workshopId" property="workshopId" jdbcType="VARCHAR"/>
    <result column="lineTxt" property="lineTxt" jdbcType="DECIMAL"/>
    <result column="lineCode" property="lineCode" jdbcType="VARCHAR"/>
    <result column="zpgdbar" property="zpgdbar" jdbcType="VARCHAR"/>
    <result column="shift" property="shift" jdbcType="VARCHAR"/>
    <result column="erdat" property="erdat" jdbcType="VARCHAR"/>
</resultMap>

</mapper>