<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="yj.kanb.vblinegroupheader.mapper.VblinegroupheaderMapper">
<resultMap id="BaseResultMap" type="yj.kanb.vblinegroupheader.dto.Vblinegroupheader">
    <result column="bukrs" property="bukrs" jdbcType="VARCHAR"/>
    <result column="werks" property="werks" jdbcType="VARCHAR"/>
    <result column="groupId" property="groupId" jdbcType="VARCHAR"/>
    <result column="product" property="product" jdbcType="VARCHAR"/>
    <result column="kunnr" property="kunnr" jdbcType="VARCHAR"/>
    <result column="templeteUrl" property="templeteUrl" jdbcType="VARCHAR"/>
    <result column="workshopId" property="workshopId" jdbcType="VARCHAR"/>
    <result column="groupName" property="groupName" jdbcType="VARCHAR"/>
    <result column="groupNameEn" property="groupNameEn" jdbcType="VARCHAR"/>
    <result column="groupType" property="groupType" jdbcType="VARCHAR"/>
</resultMap>

    <select id="selectLineGroupH2" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from vb_line_group_h
        <where>
            <if test="vbgroupId != null">
                 groupId in (select groupId from vb_group_dtl where vbgroupId = #{vbgroupId})
            </if>
        </where>
    </select>

    <select id="selectLineGroupH" parameterType="yj.kanb.vblinegroupheader.dto.Vblinegroupheader" resultMap="BaseResultMap">
        select * from vb_line_group_h
        <where>
            1 = 1
            <if test="bukrs != null">
                AND bukrs = #{bukrs}
            </if>
            <if test="werks != null">
                AND werks = #{werks}
            </if>
            <if test="workshopId != null">
                AND workshopId = #{workshopId}
            </if>
        </where>
    </select>

    <delete id="deleteLineGroupH" parameterType="yj.kanb.vblinegroupheader.dto.Vblinegroupheader">
        delete from vb_line_group_h
        <where>
            groupId = #{groupId}
            AND bukrs = #{bukrs}
            AND werks = #{werks}
            AND workshopId = #{workshopId}
            AND product = #{product}
        </where>
    </delete>

    <update id="updateLineGroupH" parameterType="yj.kanb.vblinegroupheader.dto.Vblinegroupheader">
        update vb_line_group_h set product = #{product},groupName = #{groupName},groupType = #{groupType},kunnr = #{kunnr},
        groupNameEn = #{groupNameEn},templeteUrl = #{templeteUrl},last_updated_by = #{lastUpdatedBy},last_update_date = #{lastUpdateDate}
        <where>
            groupId = #{groupId}
            AND bukrs = #{bukrs}
            AND werks = #{werks}
            AND workshopId = #{workshopId}
            AND product = #{product}
        </where>
    </update>

    <insert id="insertLineGroupH" parameterType="yj.kanb.vblinegroupheader.dto.Vblinegroupheader">
        insert into vb_line_group_h(groupId,bukrs,werks,workshopId,templeteUrl,product,kunnr,groupName,groupType,groupNameEn,created_by,creation_date)
        values(#{groupId},#{bukrs},#{werks},#{workshopId},#{templeteUrl},#{product},#{kunnr},#{groupName},#{groupType},#{groupNameEn},#{createdBy},#{creationDate})
    </insert>
    <select id="selectAllGroup" resultMap="BaseResultMap">
        select * from vb_line_group_h ;
    </select>
</mapper>